doctype html
html(lang='pl')
    head
        include ../partial/head.pug
    body
        include ../partial/header.pug

        main.container
            .card
                .card-header
                    h5= `Pytanie od ${question.user.username}`
                .card-body
                    h3=question.name
                    span=question.content
            if role === 'doctor'
                .card.mt-3
                    .card-body
                        h5= `Dodaj odpowiedź, ${ username }`
                        form(action='/answer/create', method='POST')
                            .form-group
                                input.form-control(name='question_id', readonly, value=question._id, hidden)
                            .form-group
                                textarea.form-control(name='content')
                            button.btn.btn-primary(type='submit') Odpowiedz
            .card.mt-3
                .card-header= `Odpowiedzi (${ answers.length })`
                .card-body
                    if  answers.length > 0
                        each answer in answers.sort(a => a.rating - 5).reverse()
                            .card.mt-2
                                .card-header
                                    .row
                                        .col
                                             a(href='user/show/asd')= answer.user.realName
                                        .col.text-right
                                            if role == 'user'
                                                span.rating(id=Math.floor(answer.ratingSum/answer.ratingCount))
                                                    form(action=`/answer/rate/${answer._id}`, method='POST')
                                                        input(name='rate', value='0', hidden)
                                                        input(name='question', value=question._id , hidden)
                                                    each n in [1,2,3,4,5]
                                                        if((answer.ratingSum/answer.ratingCount) < n)
                                                            i.far.fa-star
                                                        else
                                                            i.fas.fa-star
                                            else
                                                span
                                                    each n in [1,2,3,4,5]
                                                        if ((answer.ratingSum/answer.ratingCount) < n)
                                                            i.far.fa-star
                                                        else
                                                            i.fas.fa-star
                                        
                                .card-body= answer.content
                    else
                        h6.text-center.text-muted Brak odpowiedzi do wyświetlenia
                