doctype html
html(lang='pl')
    head
        include ../partial/head.pug
    body
        include ../partial/header.pug

        main.container
            .card
                .card-body
                    h1=disae.name
                    h5=disae.description
            .card.mt-3
                .card-header 
                    .row
                        .col
                            h3= `Pytania (${ questions.length })`
                        .col.text-right
                            if role === 'user'
                                a.btn.btn-primary(href=`/question/create/${ disae._id }`) Zadaj pytanie
                .card-body
                    each question in questions
                        .card.mt-2.question
                            .card-header
                                span= question.user.username
                                
                            a.text-dark(href=`/question/show/${ question._id }`)
                                .card-body
                                    h5=question.name
                                    span=question.content