doctype html
html(lang='pl')
    head
        include ../partial/head.pug
    body
        include ../partial/header.pug

        main.container
            .card
                .card-header 
                    h3 Update Disae
                .card-body
                    form(action=`/disae/update/${disae.id}`, method='POST')
                        .form-group
                            label(for='name') Name
                            input.form-control(name='name', value=disae.name)
                            small.form-text.text-muted Fill name
                        .form-group
                            label(for='desciption') Description
                            textarea.form-control(name='desciption', value=disae.desciption)
                            small.form-text.text-muted Fill desciption
                        .form-group
                            label(for='propability') Propability
                            select.selectpicker.form-control(name='propability')
                                if disae.propability == 0
                                    option(value='0', selected) Small
                                else
                                    option(value='0') Small
                                if disae.propability == 1
                                    option(value='1', selected) Medium
                                else
                                    option(value='1') Medium
                                if disae.propability == 2
                                    option(value='2', selected) Large
                                else
                                    option(value='2') Large
                            small.form-text.text-muted Select propability
                        .form-group
                            label(for='spec') Spec
                            select.selectpicker.form-control(name='spec', data-live-search="true")
                                each spec in specs
                                        if spec.id == disae.spec.id
                                            option(value=spec.id, selected)= spec.name
                                        else
                                            option(value=spec.id)= spec.name
                            small.form-text.text-muted Select spec
                        .form-group
                            label(for='spec') Symptoms
                            select.selectpicker.form-control(name='symptoms', multiple, data-live-search="true")
                                each symptom in symptoms
                                    if disae.symptoms.includes(symptom.id)
                                        option(value=symptom.id, selected)= symptom.name
                                    else
                                        option(value=symptom.id)= symptom.name
                            small.form-text.text-muted Select symptoms
                        button.btn.btn-primary(type='submit') Update
                